<header>
    <h1>Регистрация заявления для получения субсидии на оплату ЖКУ</h1>
</header>

<body>
    <p>Введите следующие данные:</p>  
<ul>
    <li>
        <p><input type="text" #FIOApplicant
            placeholder="ФИО заявителя" size="40"></p>       
    </li>
    <li>
        <p><input type="text" #PassportInfo 
            placeholder="Серия и номер паспорта" size="40"></p> 
    </li>
    <li>       
        <p><input type="text" #DateBirth
            placeholder="Дата рождения (Год-месяц-день)" size="40"> Пример: 1989-08-16</p>
    </li>
    <li>
        <p><input type="text" #FIOChildOfApplicant
            placeholder="ФИО вашего ребенка" size="40"></p> 
    </li>
    <li>
        <p><input type="text" #BirthCertificate
            placeholder="Свидетельство о рождении" size="40"></p> 
    </li>
    <li>
        <p><input type="text" #DateBirthCildOfApplicant
            placeholder="Дата рождения ребенка (Год-месяц-день)" size="40"></p> 
    </li>
    <li>
        <p><input type="text" #AvailabilityOfBenefits 
            placeholder="Наличие льгот" size="40"></p> 
    </li>
</ul>

<div>
    <div class="button-zone">
        <a class="button" (click)="addHcs(FIOApplicant, PassportInfo, DateBirth, FIOChildOfApplicant, 
        BirthCertificate, DateBirthCildOfApplicant, AvailabilityOfBenefits)">Сохранить</a>
    </div>  
    <div class="button-zone">
        <a class="button" routerLink="">Главная</a>
    </div>  
</div>
</body>

