<header>
    <h1>Главная</h1>
</header>

<body>
    <ul>
        <li>
            <p>Ссылка на регистрацию заявления для получения субсидии на <a routerLink="/create_hcs">оплату ЖКУ</a>.</p>      
        </li>
        <li>
            <p>Ссылка на регистрацию заявления для получения субсидии на <a routerLink="/create_sp">ИП</a>.</p>
        </li>
    </ul>

    <p>Список заявителей на субсидии на оплату ЖКУ</p>
    <table class="table" >

        <tr>
            <td>ФИО заявителя</td>
            <td>Паспортные данные</td>
            <td>Дата рождения</td>
            <td>ФИО ребенка заявителя</td>
            <td>Свидетельство о рождении</td>
            <td>Дата рождения ребенка</td>
            <td>Список льгот</td>
        </tr>

        <tr>
            <td>{{application?.FIOApplicant}}</td>
            <td>{{application?.PassportInfo}}</td>
            <td>{{application?.DateBirth}}</td>
            <td>{{application?.FIOChildOfApplicant}}</td>
            <td>{{application?.BirthCertificate}}</td>
            <td>{{application?.DateBirthCildOfApplicant}}</td>
            <td>{{application?.AvailabilityOfBenefitsv}}</td>
        </tr>

    </table>     
</body>
